<!--
 Licensed Materials - Property of IBM
 (C) Copyright IBM Corp. 2018. All Rights Reserved.
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<link rel='stylesheet' href='css/styles.css' type='text/css' media='all' />

<div id="ibm-universal-nav">
  <div id="ibm-home">
    <a href="http://www.ibm.com/us-en/">IBM®</a>
  </div>
</div>

<style id='pagepost_css-inline-css' type='text/css'>
  @media only screen and (max-width: 900px) {
    #node-header {
      width: 90%;
    }
  }

  @media only screen and (max-width: 1000px) {
    #offers-steps {
      padding-left: 0px !important;
    }
  }


  #ibm-leadspace-body {
    padding: 34px 0 0 !important;
    /* - creates equal spacing above and below the banner content */
  }

  .padding-center {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  @media only screen and (max-width: 900px) {
    .card-flex {
      margin: 0 auto!important;
      float: none!important;
    }
  }

  .ibm-card {
    justify-content: space-between;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    height: auto !important;
    width: 100%;
    min-width: 150px;
  }

  @media only screen and (max-width: 900px) {
    .ibm-card {
      width: 300px;
    }
  }

  .ibm-card__bottom {
    position: relative !important;
  }

  #top-cards a {
    color: #3151b7;
    padding-left: 0px;
  }

  .custom-border {
    font-size: 36px !important;
  }


  .regular-font:hover,
  .regular-font:focus,
  .regular-font:active {
    font-weight: bold !important;
    color: var(--grey70) !important;
  }

  .blurb-box {
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(165, 165, 165, 0.2);
    min-height: 140px;
    color: #464646;
  }

  #top-cards .ibm-card {
    border: solid 1px #d8d8d8;
  }
</style>

<div id="ibm-leadspace-head" class="ibm-alternate ibm-alternate-background" style="background-color:#3151b7;">
  <div id="ibm-leadspace-body">
    <div class="ibm-fluid ibm-columns">
      <div class="ibm-col-1-1 ibm-center">
        <div class="ibm-col-1-1" style="padding:40px 0px 0px 0px;">
          <h1 class="ibm-h1 ibm-medium ibm-light" id="ibm-pagetitle-h1">Node.js at IBM</h1>
        </div>

        <div class="ibm-col-1-1">
          <h4 id="node-header" class="padding-center">IBM Cloud Private sample.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BANNER -->
