<!--
 Licensed Materials - Property of IBM
 (C) Copyright IBM Corp. 2018. All Rights Reserved.
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<link rel="stylesheet" href="css/navbar.css">
<div id="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="create">Create</a></li>
    <li><a href="deploy">Deploy</a></li>
    <li><a href="monitor">Monitor</a></li>
  </ul>
</div>
