<!--
  Licensed Materials - Property of IBM
  (C) Copyright IBM Corp. 2017. All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />
  <title>Node.js and IBM Cloud Private</title>
  <% include partials/header %>
</head>

<body id="ibm-com" class="home page-template page-template-page-brochureware page-template-page-brochureware-php page page-id-26 logged-in admin-bar no-customize-support ibm-com ibm-type group-blog">
  <div id="ibm-top" class="ibm-landing-page">
    <div id="ibm-content-wrapper">
      <div id="content" class="site-content">
        <div class="content-area" id="content-area">
          <article id="post-26" class="post-26 page type-page status-publish hentry">
            <div class="entry-content">
                <div id="node-content">
                  <div id="top-cards" class="ibm-band" style="background-color: #ffffff;">
                    <div class="ibm-columns section-padding">
                      <div>
                        <div class="ibm-col-1-1">
                          <div class="ibm-fluid card-container-flex" data-widget="setsameheight" data-items=".ibm-card" data-always="true">
                            <div class="ibm-col-12-4 ibm-col-medium-12-6 card-flex">

                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <h3>App creation</h3>
                                  <p>Learn how this sample was made and how you can create something like it.</p>
                                </div>

                                <div class="ibm-card__bottom">
                                  <p class="ibm-ind-link ibm-padding-bottom-0"><a id="node-sdk" onClick="sendLinkEvent(id)" href="create">Get creating</a></p>
                                </div>
                              </div>

                            </div>

                            <div class="ibm-col-12-4 ibm-col-medium-12-6 card-flex">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <h3>Deployment methods</h3>
                                  <p>
                                    Learn how to deploy your Node.js applications to IBM Cloud.
                                  </p>
                                </div>
                                <div class="ibm-card__bottom">
                                  <p class="ibm-ind-link ibm-padding-bottom-0"><a id="get-help" onClick="sendLinkEvent(id)" href="deploy">Get deploying</a></p>
                                </div>
                              </div>
                            </div>

                            <div class="ibm-col-12-4 ibm-col-medium-12-6 card-flex">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <h3>Monitor</h3>
                                  <p>Learn monitoring capabilities and those demonstrated here.</p>
                                </div>
                                <div class="ibm-card__bottom">
                                  <p class="ibm-ind-link ibm-padding-bottom-0"><a id="get-help" onClick="sendLinkEvent(id)" href="monitor">Get monitoring</a></p>
                                </div>
                              </div>
                            </div>

                          </div>

                          <div class="link-text">
                            Find out more at <a href="https://developer.ibm.com/node">our developer center for Node.js.</a>
                            </br>
                            Find the full code for this sample <a href="https://github.com/ibm-developer/icp-nodejs-sample">on Github</a> then go on to build and deploy your own applications.
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </article>
          </div>
        </div>

        <div class="footer">
          <p>Node.js is a trademark of Joyent, Inc. and is used with its permission. We are not endorsed by or affiliated with Joyent.</p>
        </div>
      </div>
</body>
